.search {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-top: 2rem;
}
.hide {
  display: none;
}
input[type='submit']:hover {
  background: white !important;
  color: purple !important;
  font-weight: bold !important;
}
